<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<packages>\n  <package id=\"MemoryPack\" version=\"1.21.4\" manuallyInstalled=\"true\" />\n  <package id=\"MemoryPack.Core\" version=\"1.21.4\" />\n  <package id=\"MemoryPack.Generator\" version=\"1.21.4\" />\n  <package id=\"MessagePack\" version=\"3.1.7\" manuallyInstalled=\"true\" />\n  <package id=\"MessagePack.Annotations\" version=\"3.1.4\" />\n  <package id=\"MessagePackAnalyzer\" version=\"3.1.4\" />\n  <package id=\"Microsoft.NET.StringTools\" version=\"17.11.4\" />\n  <package id=\"System.Collections.Immutable\" version=\"8.0.0\" />\n  <package id=\"System.Runtime.CompilerServices.Unsafe\" version=\"6.0.0\" />\n</packages>